.logo {
    width: 80px;
    height: auto;
}

.barra {
    background-color: pink;
}

#btncontacto {
    padding: 10px;
    margin-bottom: 10px;
    background-color: pink;
    font-size: 18px;
    border: blue 1px solid;
    color: blue;
}

.parrafo {
    margin-left: 100px;
    margin-right: 100px;
}

.dv {
    margin-left: 100px;
    padding-right: 100px;
}

@media screen and (max-width: 1200px) {
    .video {
        width: 80%;
        clear: both;
    }
}